<%= form_for @event do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

	<%= f.label :name %>
	<%= f.text_field :name %>

	<div class="row">
		<div class="six columns">
			<%= f.label :start_time %>
			<%= f.datetime_select :start_time, :ampm => true, :order => [:month, :day, :year], 
				:datetime_separator => '' %>
		</div>
		<div class="six columns">
			<%= f.label :end_time %>
			<%= f.datetime_select :end_time, :ampm => true, :order => [:month, :day, :year], 
				:datetime_separator => '' %>
		</div>
	</div>
	

	


	<%= field_set_tag 'Location' do %>

		<%= hidden_field_tag "event[location_ids][]", nil%>
		<ul class="link-list">
			<% @locations.each do |location| %>
				<li>
					<%= content_tag :label, :class => ["checkbox", ("checked" if @event.location_ids.include?(location.id))] do %>
						<%= check_box_tag "event[location_ids][]", location.id, @event.location_ids.include?(location.id), id: dom_id(location) %>
						<%= location.name %>
					<% end %>
				</li>
			<% end %>	
		</ul>
		<%= link_to_add_fields "Add New Location", f, :locations %>
			
	<% end %>

	<div class="row">
		<div class="six columns">
			<%= f.label :cost_pre_order, "Advance Ticket Cost" %>
			<%= f.text_field :cost_pre_order %>
		</div>
		<div class="six columns">
			<%= f.label :cost_door, "Door Cost" %>
			<%= f.text_field :cost_door %>
		</div>
	</div>

		

	
	<%= f.label :description %>
	<%= f.text_area :description %>



	<%= f.label :emcees %>
	<%= f.text_field :emcees %>
	
	<%= f.label :featured_guests %>
	<%= f.text_field :featured_guests %>



	<%= f.label :contact %>
	<%= f.text_field :contact %>









	<%= field_set_tag 'Host Organization' do %>

		<%= hidden_field_tag "event[organization_ids][]", nil%>
		<ul class="link-list">
			<% @organizations.each do |organization| %>
				<li>
				<%= content_tag :label, :class => ["checkbox", ("checked" if @event.organization_ids.include?(organization.id))] do %>
						<%= check_box_tag "event[organization_ids][]", organization.id, @event.organization_ids.include?(organization.id), id: dom_id(organization) %>
						<%= organization.name %>
					<% end %>
				</li>
			<% end %>	
		</ul>
			
		<%= link_to_add_fields "Add New Organization", f, :organizations %>
			
	<% end %>



	<%= field_set_tag 'Cause' do %>

		<%= hidden_field_tag "event[cause_ids][]", nil%>
		<ul class="link-list">
			<% @causes.each do |cause| %>
				<li>
				<%= content_tag :label, :class => ["checkbox", ("checked" if @event.cause_ids.include?(cause.id))] do %>
						<%= check_box_tag "event[cause_ids][]", cause.id, @event.cause_ids.include?(cause.id), id: dom_id(cause) %>
						<%= cause.name %>
					<% end %>
				</li>
			<% end %>	
		</ul>

		<%= link_to_add_fields "Add New Cause", f, :causes %>
			
	<% end %>


	<%= field_set_tag 'Event Type' do %>

		<%= hidden_field_tag "event[event_type_ids][]", nil%>
		<ul class="link-list">
			<% @event_types.each do |event_type| %>
				<li>
					<%= content_tag :label, :class => ["checkbox", ("checked" if @event.event_type_ids.include?(event_type.id))] do %>
						<%= check_box_tag "event[event_type_ids][]", event_type.id, @event.event_type_ids.include?(event_type.id), id: dom_id(event_type) %>
						<%= event_type.name %>
					<% end %>
				</li>
			<% end %>	
		</ul>

		<%= link_to_add_fields "Add New Event Type", f, :event_types %>
			
	<% end %>





	<%= f.label :attire %>
	<%= f.select(:attire, ["Casual", "Semi-Formal", "Formal"], :include_blank => true) %>

	<%= f.submit nil, :class => "button" %>
<% end %>

