<fieldset>

	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :street_address %>
	<%= f.text_field :street_address %>

	<div class="row">
		<div class="six columns">
			<%= f.label :city %>
			<%= f.text_field :city %>
		</div>
		<div class="two columns">
			<%= f.label :state %>
			<%= f.text_field :state %>
		</div>
		<div class="four columns">
			<%= f.label :zip %>
			<%= f.text_field :zip %>
		</div>
	</div>


	<%= f.label :cross_streets %>
	<%= f.text_field :cross_streets %>

	<%= f.label :website %>
	<%= f.text_field :website %>

	<%= f.hidden_field :_destroy %>
	<%= link_to "Remove", '#', class: "remove_fields tiny alert button" %>

</fieldset>

